<ng-form name="tabularSubFormForm">

  <div class="form-group">
    <div class="row">
      <div class="col-md-3" ng-class="{'has-error': formError.showErrors(subReportForm.name, 'subreport/' + index + '/name')}">
        <input required type="text" class="form-control" name="name" ng-model="tabularSubForm.name"
                placeholder="{{'region.name'|translate}} *">
      </div>
      <div class="col-md-3" ng-class="{'has-error': formError.showErrors(subReportForm.sequence, 'subreport/' + index + '/sequence')}">
        <input required type="number" min="0" class="form-control" name="sequence" ng-model="tabularSubForm.sequence"
                placeholder="{{'region.sequence'|translate}} *">
      </div>
      <div class="col-md-3"
            ng-class="{'has-error': formError.showErrors(tabularSubForm.paginationQueryParameter, 'subreport/' + index + '/paginationQueryParameter')}">
        <input required type="text" class="form-control" name="paginationQueryParameter"
                ng-model="tabularSubForm.paginationQueryParameter"
                placeholder="{{'region.paginationQueryParameter'|translate}} *">
      </div>
      <div class="col-md-3" ng-class="{'has-error': formError.showErrors(subReportForm.itemsPerPage, 'subreport/' + index + '/itemsPerPage')}">
        <input required type="number" class="form-control" name="itemsPerPage" ng-model="tabularSubForm.itemsPerPage"
                placeholder="{{'region.itemsPerPage'|translate}} *">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6" ng-class="{'has-error': formError.showErrors(tabularSubForm.view, 'subreport/' + index + '/view')}">
        <select name="view" ng-model="tabularSubForm.view" class="form-control" ng-change="changeViewColumns()"
                required
                ng-options="view as view.attributes.schema + '.' + view.attributes.name for view in viewsWithColumns track by trackView(view)">
          <option value="">-- {{'region.view'|translate}} * --</option>
        </select>
      </div>
      <!-- <div class="col-md-6" ng-class="{'has-error': formError.showErrors(tabularSubForm.linkedColumn, 'tabular-subform/' + index + '/linkedColumn')}">
        <select name="linkedColumn" ng-model="tabularSubForm.linkedColumn" class="form-control" required
                ng-options="viewColumn.attributes.name as viewColumn.attributes.name for viewColumn in viewColumns">
          <option value="">-- {{'region.linkedColumn'|translate}} * --</option>
        </select>
      </div> -->
    </div>
  </div>

  <div ng-show="tabularSubForm.view.attributes.schema && tabularSubForm.view.attributes.name">
    <!-- <div class="row">
      <div class="col-xs-12">
        <h3>{{'region.setUniqueId'|translate}}</h3>
      </div>
    </div>
    <div class="form-group">
      <label for="uniqueId" class="col-sm-3 control-label">{{'region.uniqueId'|translate}} *</label>
      <div class="col-sm-8">
        <select id="uniqueId" name="uniqueId" class="form-control" ng-model="region.uniqueId"
                ng-options="viewColumn.attributes.name as viewColumn.attributes.name for viewColumn in viewColumns">
        </select>
      </div>
      <div class="col-sm-1">
      <span class="glyphicon glyphicon-info-sign help-text"
            ng-click="helper.info('region.tabularFormUniqueIdHelpText')"></span>
      </div>
    </div> -->
    <div class="row">
      <h3>{{'region.linkedColumns'|translate}}</h3>
    </div>
    <div class="form-group" ng-repeat="preFillColumn in preFillColumns | preFillColumnsWithValues">
      <div class="col-md-6" ng-class="{'has-error': formError.showErrors(tabularSubForm.linkedColumn, 'tabular-subform/' + index + '/linkedColumn')}">
        <select name="linkedColumn" ng-model="tabularSubForm.linkedColumns[preFillColumn.column.attributes.name]" class="form-control" ng-change="setLinkedColumns()" required
                ng-options="viewColumn.attributes.name as viewColumn.attributes.name for viewColumn in viewColumns">
          <option value="">-- {{'region.linkedColumn'|translate}} * --</option>
        </select>
      </div>
    </div>

    <add-tabular-sub-form-button title="region.buttons" attribute-title="region.addTabularFormButton"
                functions="functions" view-columns="viewColumns"
                buttons="tabularSubForm.buttons" button-templates="tabularFormButtonTemplates"
                form-error="formError" last-sequence="lastSequenceOfTabularFormButtons"></add-tabular-sub-form-button>
    <add-column-link title="region.columns" attribute-title="region.addTabularFormColumn" view-columns="viewColumns"
                      name="tabularFormColumns"
                      columns="tabularSubForm.formColumns" form-error="formError"
                      last-sequence="lastSequenceOfTabularFormColumns"></add-column-link>
  </div>
</ng-form>