<ng-form name="subFormForm">
    <div class="form-group">
        <div class="col-md-4" ng-class="{'has-error': formError.showErrors(subFormForm.name, 'subform/' + index + '/name')}">
          <input required type="text" class="form-control" name="name" ng-model="subForm.name"
                 placeholder="{{'region.name'|translate}} *">
        </div>
        <div class="col-md-4" ng-class="{'has-error': formError.showErrors(subFormForm.sequence, 'subform/' + index + '/sequence')}">
          <input required type="number" min="0" class="form-control" name="sequence" ng-model="subForm.sequence"
                 placeholder="{{'region.sequence'|translate}} *">
        </div>
        <div class="col-md-4" ng-class="{'has-error': formError.showErrors(subFormForm.buttonLabel, 'subform/' + index + '/buttonLabel')}">
          <input type="text" class="form-control" name="buttonLabel" ng-model="subForm.buttonLabel" id="subFormButtonLabel" placeholder="{{'region.buttonLabel'|translate}}" required>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': formError.showErrors(manageRegionForm.buttonLabel, 'buttonLabel')}">
      <div class="col-sm-6">
        <input type="text" class="form-control" name="subFormSuccessMessage" ng-model="subForm.successMessage" id="subFormSuccessMessage" placeholder="{{'region.successMessage'|translate}}" required>
        <div ng-show="formError.showErrors(manageRegionForm.successMessage, 'successMessage')">
          <span ng-repeat="error in formError.getErrors('successMessage')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
      <div class="col-sm-6">
        <input type="text" class="form-control" name="subFormErrorMessage" ng-model="subForm.errorMessage" id="subFormErrorMessage" placeholder="{{'region.errorMessage'|translate}}" required>
        <div ng-show="formError.showErrors(manageRegionForm.errorMessage, 'errorMessage')">
          <span ng-repeat="error in formError.getErrors('errorMessage')" class="help-block">{{error|translate}}</span>
        </div>
      </div>
    </div>
    <h3>{{'region.function'|translate}}</h3>
    <div class="form-group">
      <div class="col-md-6" ng-class="{'has-error': formError.showErrors(subFormForm.function, 'subform/' + index + '/function')}">
        <select id="function" name="function" ng-model="subForm.function" ng-change="changeSubFormFunctionParameters()" class="form-control" required
              ng-options="function as function.attributes.displayText for function in functionsWithParameters track by trackDatabaseObject(function)">
        <option value="" disabled>-- {{'region.function'|translate}} * --</option>
      </select>
      </div>
    </div>
    <div ng-show="subForm.function.attributes.name">
      <h3>{{'region.functionParameters'|translate}}</h3>
      <div class="form-group form-group-striped" ng-repeat="functionParameter in subForm.functionParameters">
        <ng-form name="functionParameterForm">
          <div class="row">
            <div class="col-md-2">
              {{functionParameter.attributes.name}}
              <span class="label label-default">{{functionParameter.attributes.argumentType}}</span>
            </div>
            <div class="col-md-3" ng-class="{'has-error': formError.showErrors(functionParameterForm.inputName, 'subform/' + index + '/functionParameters/' + $index + '/inputName')}">
              <input required ng-model="functionParameter.inputName" name="label" type="text" class="form-control" placeholder="{{'region.inputName'|translate}} *" ng-pattern="'[a-zA-Z_]+'">
            </div>
            <div class="col-sm-1">
              <span class="glyphicon glyphicon-info-sign help-text" ng-click="helper.info('region.formInputNameHelpText')"></span>
            </div>
            <div class="col-md-3" ng-class="{'has-error': formError.showErrors(functionParameterForm.label, 'subform/' + index + '/functionParameters/' + $index + '/label')}">
              <input required ng-model="functionParameter.label" name="label" type="text" class="form-control" placeholder="{{'region.label'|translate}} *">
            </div>
            <div class="col-md-1" ng-class="{'has-error': formError.showErrors(functionParameterForm.sequence, 'subform/' + index + '/functionParameters/' + $index + '/sequence')}">
              <input required ng-model="functionParameter.sequence" name="sequence" type="number" min="0" class="form-control" placeholder="{{'region.sequence'|translate}} *">
            </div>
            <div class="col-md-1" ng-class="{'has-error': formError.showErrors(functionParameterForm.isMandatory, 'subform/' + index + '/functionParameters/' + $index + '/isMandatory')}">
              <label class="normal-label">
                <input ng-model="functionParameter.isMandatory" name="isMandatory" type="checkbox" title="{{'region.isMandatory'|translate}}">
                <span>{{'region.isMandatory'|translate}}</span>
              </label>
            </div>
            <div class="col-md-1" ng-class="{'has-error': formError.showErrors(functionParameterForm.isVisible, 'subform/' + index + '/functionParameters/' + $index + '/isVisible')}">
              <label class="normal-label">
                <input ng-model="functionParameter.isVisible" name="isVisible" type="checkbox" title="{{'region.isVisible'|translate}}">
                <span>{{'region.isVisible'|translate}}</span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2" ng-class="{'has-error': formError.showErrors(functionParameterForm.defaultValue, 'subform/' + index + '/functionParameters/' + $index + '/defaultValue')}">
              <input ng-model="functionParameter.defaultValue" name="defaultValue" type="text" class="form-control" placeholder="{{'region.defaultValue'|translate}}">
            </div>
            <div class="col-sm-1">
              <span class="glyphicon glyphicon-info-sign help-text" ng-click="helper.info('region.formInputDefaultValueHelpText')"></span>
            </div>
            <div class="col-md-8" ng-class="{'has-error': formError.showErrors(functionParameterForm.helpText, 'subform/' + index + '/functionParameters/' + $index + '/helpText')}">
              <input ng-model="functionParameter.helpText" name="helpText" type="text" class="form-control" placeholder="{{'region.helpText'|translate}}">
            </div>
            <div class="col-sm-1">
              <span class="glyphicon glyphicon-info-sign help-text" ng-click="helper.info('region.formInputHelpTextHelpText')"></span>
            </div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <div class="col-md-2" ng-class="{'has-error': formError.showErrors(functionParameterForm.fieldType, 'subform/' + index + '/functionParameters/' + $index + '/fieldType')}">
              <select id="fieldType" name="fieldType" ng-model="functionParameter.fieldType" class="form-control" required ng-change="functionParameter.fieldTemplate = '' ; functionParameter.listOfValuesView = ''">
                <option value="" disabled>-- {{'region.fieldType'|translate}} * --</option>
                <option value="TEXT">{{'region.fieldTypeText'|translate}}</option>
                <option value="PASSWORD">{{'region.fieldTypePassword'|translate}}</option>
                <option value="RADIO">{{'region.fieldTypeRadio'|translate}}</option>
                <option value="CHECKBOX">{{'region.fieldTypeCheckbox'|translate}}</option>
                <option value="DROP_DOWN">{{'region.fieldTypeDropDown'|translate}}</option>
                <option value="TEXTAREA">{{'region.fieldTypeTextarea'|translate}}</option>
                <option value="COMBO_BOX">{{'region.fieldTypeComboBox'|translate}}</option>
                <option value="CALENDER">{{'region.fieldTypeCalender'|translate}}</option>
              </select>
            </div>
            <div class="col-md-3" ng-class="{'has-error': formError.showErrors(functionParameterForm.fieldTemplate, 'subform/' + index + '/functionParameters/' + $index + '/fieldTemplate')}">
              <select id="fieldTemplate" name="fieldTemplate" ng-model="functionParameter.fieldTemplate" ng-disabled="!functionParameter.fieldType" class="form-control" required
                      ng-options="ft.id as ft.attributes.name for ft in getFunctionParameterTemplates(functionParameter)"
              >
                <option value="" disabled>-- {{'region.fieldTemplate'|translate}} * --</option>
              </select>
            </div>
            <div class="col-md-2" ng-class="{'has-error': formError.showErrors(functionParameterForm.preFillColumn, 'subform/' + index + '/functionParameters/' + $index + '/subFormPreFillColumn')}">
              <select id="subFormPreFillColumn" name="subFormPreFillColumn" ng-model="functionParameter.preFillColumn" class="form-control" ng-show="subFormPreFillColumns"
                      ng-options="subFormPreFillColumn.column.attributes.name as subFormPreFillColumn.column.attributes.name for subFormPreFillColumn in subFormPreFillColumns">
                <option value="">-- {{'region.preFillColumn'|translate}} --</option>
              </select>
            </div>
            <div ng-show="functionParameter.fieldType === 'CALENDER'">
              <div class="col-md-3"
                    ng-class="{'has-error': formError.showErrors(functionParameterForm.calenderFormat, 'subform/' + index + '/functionParameters/' + $index + '/calenderFormat')}">
                  <input ng-model="functionParameter.calenderFormat"
                         ng-required="functionParameter.fieldType === 'CALENDER'" 
                         name="calenderFormat" 
                         type="text" 
                         class="form-control" 
                         placeholder="{{'region.calenderFormat'|translate}}">
                </div>
                <div class="col-sm-1">
                  <span class="glyphicon glyphicon-info-sign help-text" ng-click="helper.calenderFormatInfo()"></span>
                </div>
            </div>
          </div>
          <div class="row" style="margin-top: 15px" ng-show="functionParameter.fieldType === 'DROP_DOWN' || functionParameter.fieldType === 'RADIO' || functionParameter.fieldType === 'COMBO_BOX'">
            <div class="col-md-5" 
                 ng-class="{'has-error': formError.showErrors(functionParameterForm.listOfValuesView, 'subform/' + index + '/functionParameters/' + $index + '/listOfValuesView')}">
              <select id="listOfValuesView" name="listOfValuesView" ng-model="functionParameter.listOfValuesView" class="form-control"
                      ng-required="functionParameter.fieldType === 'DROP_DOWN' || functionParameter.fieldType === 'RADIO' || functionParameter.fieldType === 'COMBO_BOX'"
                      ng-options="viewWithColumns as (viewWithColumns.attributes.schema + '.' + viewWithColumns.attributes.name) for viewWithColumns in viewsWithColumns track by trackDatabaseObject(viewWithColumns)">
                <option value="" disabled>-- {{'region.listOfValuesView'|translate}} * --</option>
              </select>
            </div>
            <div class="col-md-2" 
                 ng-class="{'has-error': formError.showErrors(functionParameterForm.listOfValuesValue, 'subform/' + index + '/functionParameters/' + $index + '/listOfValuesValue')}">
              <select id="listOfValuesValue" name="listOfValuesValue" ng-model="functionParameter.listOfValuesValue" class="form-control"
                      ng-required="functionParameter.fieldType === 'DROP_DOWN' || functionParameter.fieldType === 'RADIO' || functionParameter.fieldType === 'COMBO_BOX'"
                      ng-disabled="!functionParameter.listOfValuesView"
                      ng-options="column as column.attributes.name for column in functionParameter.listOfValuesView.attributes.columns track by column.attributes.name">
                <option value="" disabled>-- {{'region.columnForValue'|translate}} * --</option>
              </select>
            </div>
            <div class="col-md-2"
                 ng-class="{'has-error': formError.showErrors(functionParameterForm.listOfValuesLabel, 'functionParameters/' + $index + '/listOfValuesLabel')}">
              <select id="listOfValuesLabel" name="listOfValuesLabel" ng-model="functionParameter.listOfValuesLabel" class="form-control"
                      ng-required="functionParameter.fieldType === 'DROP_DOWN' || functionParameter.fieldType === 'RADIO' || functionParameter.fieldType === 'COMBO_BOX'"
                      ng-disabled="!functionParameter.listOfValuesView"
                      ng-options="column as column.attributes.name for column in functionParameter.listOfValuesView.attributes.columns track by column.attributes.name">
                <option value="" disabled>-- {{'region.columnForLabel'|translate}} * --</option>
              </select>
            </div>
          </div>
          <div class="row" style="margin-top: 15px">
            <div class="col-md-2"
                 ng-class="{'has-error': formError.showErrors(functionParameterForm.inputWidth, 'subform/' + index + '/functionParameters/' + $index + '/inputWidth')}"
                 ng-show="functionParameter.fieldType !== 'RADIO' && functionParameter.fieldType !== 'CHECKBOX' && functionParameter.isVisible">
              <input ng-model="functionParameter.width" name="inputWidth" type="number" min="1" class="form-control" placeholder="{{'region.width'|translate}}"
              ng-required="functionParameter.fieldType !== 'RADIO' && functionParameter.fieldType !== 'CHECKBOX' && functionParameter.isVisible">
            </div>
            <div class="col-md-2"
                 ng-class="{'has-error': formError.showErrors(functionParameterForm.inputWidthUnit, 'subform/' + index + '/functionParameters/' + $index + '/inputWidthUnit')}"
                 ng-show="functionParameter.fieldType !== 'RADIO' && functionParameter.fieldType !== 'CHECKBOX' && functionParameter.isVisible">
                  <select id="inputWidthUnit" name="inputWidthUnit" ng-model="functionParameter.widthUnit" class="form-control"
                  ng-required="functionParameter.fieldType !== 'RADIO' && functionParameter.fieldType !== 'CHECKBOX' && functionParameter.isVisible">
                    <option value="px">px</option>
                    <option value="%">%</option>
                  </select>
            </div>
            <div class="col-md-2"
                 ng-class="{'has-error': formError.showErrors(functionParameterForm.inputHeight, 'subform/' + index + '/functionParameters/' + $index + '/inputHeight')}"
                 ng-show="functionParameter.fieldType === 'TEXTAREA' && functionParameter.isVisible">
              <input ng-model="functionParameter.height" name="inputHeight" type="number" min="1" class="form-control" placeholder="{{'region.height'|translate}}">
            </div>
            <div class="col-md-3"
                 ng-class="{'has-error': formError.showErrors(functionParameterForm.inputHeightUnit, 'inputHeightUnit/' + $index + '/inputHeightUnit')}"
                 ng-show="functionParameter.fieldType === 'TEXTAREA' && functionParameter.isVisible">
                  <select id="inputHeightUnit" name="inputHeightUnit" ng-model="functionParameter.heightUnit" class="form-control">
                    <option value="px">px</option>
                    <option value="rows">rows</option>
                  </select>
            </div>
          </div>

          <div class="row form-group has-error" ng-show="
            formError.showErrors(functionParameterForm.inputName, 'subform/' + index + '/functionParameters/' + $index + '/inputName') ||
            formError.showErrors(functionParameterForm.label, 'subform/' + index + '/functionParameters/' + $index + '/label') ||
            formError.showErrors(functionParameterForm.sequence, 'subform/' + index + '/functionParameters/' + $index + '/sequence') ||
            formError.showErrors(functionParameterForm.isMandatory, 'subform/' + index + '/functionParameters/' + $index + '/isMandatory') ||
            formError.showErrors(functionParameterForm.isVisible, 'subform/' + index + '/functionParameters/' + $index + '/isVisible') ||
            formError.showErrors(functionParameterForm.defaultValue, 'subform/' + index + '/functionParameters/' + $index + '/defaultValue') ||
            formError.showErrors(functionParameterForm.fieldType, 'subform/' + index + '/functionParameters/' + $index + '/fieldType') ||
            formError.showErrors(functionParameterForm.fieldTemplate, 'subform/' + index + '/functionParameters/' + $index + '/fieldTemplate') ||
            formError.showErrors(functionParameterForm.listOfValuesView, 'subform/' + index + '/functionParameters/' + $index + '/listOfValuesView') ||
            formError.showErrors(functionParameterForm.listOfValuesValue, 'subform/' + index + '/functionParameters/' + $index + '/listOfValuesValue') ||
            formError.showErrors(functionParameterForm.listOfValuesLabel, 'subform/' + index + '/functionParameters/' + $index + '/listOfValuesLabel') ||
            formError.showErrors(functionParameterForm.preFillColumn, 'subform/' + index + '/functionParameters/' + $index + '/preFillColumn') ||
            formError.showErrors(functionParameterForm.helpText, 'subform/' + index + '/functionParameters/' + $index + '/helpText') ||
            formError.showErrors(functionParameterForm.inputWidth, 'subform/' + index + '/functionParameters/' + $index + '/inputWidth') ||
            formError.showErrors(functionParameterForm.inputWidthUnit, 'subform/' + index + '/functionParameters/' + $index + '/inputWidthUnit') ||
            formError.showErrors(functionParameterForm.calenderFormat, 'subform/' + index + '/functionParameters/' + $index + '/calenderFormat')
          ">
            <div class="col-sm-12">
              <span ng-show="functionParameterForm.inputName.$touched && functionParameterForm.inputName.$error.required" class="help-block">{{'region.inputNameIsMandatory'|translate}}</span>
              <span ng-show="functionParameterForm.label.$touched && functionParameterForm.label.$error.required" class="help-block">{{'region.labelIsMandatory'|translate}}</span>
              <span ng-show="functionParameterForm.sequence.$touched && functionParameterForm.sequence.$error.required" class="help-block">{{'region.sequenceIsMandatory'|translate}}</span>
              <span ng-show="functionParameterForm.fieldType.$touched && functionParameterForm.fieldType.$error.required" class="help-block">{{'region.fieldTypeIsMandatory'|translate}}</span>
              <span ng-show="functionParameterForm.fieldTemplate.$touched && functionParameterForm.fieldTemplate.$error.required" class="help-block">{{'region.fieldTemplateIsMandatory'|translate}}</span>
              <span ng-show="functionParameterForm.listOfValuesView.$touched && functionParameterForm.listOfValuesView.$error.required" class="help-block">{{'region.listOfValuesViewIsMandatory'|translate}}</span>
              <span ng-show="functionParameterForm.listOfValuesValue.$touched && functionParameterForm.listOfValuesValue.$error.required" class="help-block">{{'region.listOfValuesValueIsMandatory'|translate}}</span>
              <span ng-show="functionParameterForm.listOfValuesLabel.$touched && functionParameterForm.listOfValuesLabel.$error.required" class="help-block">{{'region.listOfValuesLabelIsMandatory'|translate}}</span>
              <span ng-show="functionParameterForm.inputWidth.$touched && functionParameterForm.inputWidth.$error.required" class="help-block">{{'region.inputWidthIsMandatory'|translate}}</span>
              <span ng-show="functionParameterForm.inputWidthUnit.$touched && functionParameterForm.inputWidthUnit.$error.required" class="help-block">{{'region.inputWidthUnitIsMandatory'|translate}}</span>
              <span ng-show="functionParameterForm.calenderFormat.$touched && functionParameterForm.calenderFormat.$error.required" class="help-block">{{'region.calenderFormatIsMandatory'|translate}}</span>

              <span ng-repeat="error in formError.getErrors('subform/' + index + '/functionParameters/' + $index + '/inputName')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('subform/' + index + '/functionParameters/' + $index + '/label')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('subform/' + index + '/functionParameters/' + $index + '/sequence')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('subform/' + index + '/functionParameters/' + $index + '/isMandatory')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('subform/' + index + '/functionParameters/' + $index + '/isVisible')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('subform/' + index + '/functionParameters/' + $index + '/defaultValue')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('subform/' + index + '/functionParameters/' + $index + '/fieldType')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('subform/' + index + '/functionParameters/' + $index + '/fieldTemplate')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('subform/' + index + '/functionParameters/' + $index + '/listOfValuesView')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('subform/' + index + '/functionParameters/' + $index + '/listOfValuesValue')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('subform/' + index + '/functionParameters/' + $index + '/listOfValuesLabel')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('subform/' + index + '/functionParameters/' + $index + '/preFillColumn')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('subform/' + index + '/functionParameters/' + $index + '/helpText')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('subform/' + index + '/functionParameters/' + $index + '/inputWidth')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('subform/' + index + '/functionParameters/' + $index + '/inputWidthUnit')" class="help-block">{{error|translate}}</span>
              <span ng-repeat="error in formError.getErrors('subform/' + index + '/functionParameters/' + $index + '/calenderFormat')" class="help-block">{{error|translate}}</span>
            </div>
          </div>
        </ng-form>
      </div>
    </div>
    
    <div ng-show="subFormForm.name.$touched && subFormForm.name.$error.required" class="row has-error">
      {{'region.nameIsMandatory'|translate}}
    </div>
    <div ng-show="subFormForm.sequence.$touched && subFormForm.sequence.$error.required" class="row has-error">
      {{'region.sequenceIsMandatory'|translate}}
    </div>
    <div ng-show="subFormForm.buttonLabel.$touched && subFormForm.buttonLabel.$error.required" class="row has-error">
      {{'region.buttonLabelIsMandatory'|translate}}
    </div>
    <div ng-show="subFormForm.function.$touched && subFormForm.function.$error.required" class="row has-error">
      {{'region.functionIsMandatory'|translate}}
    </div>
    <div ng-show="subFormForm.successMessage.$touched && subFormForm.successMessage.$error.required" class="row has-error">
      {{'region.successMessageMandatory'|translate}}
    </div>
    <div ng-show="subFormForm.errorMessage.$touched && subFormForm.errorMessage.$error.required" class="row has-error">
      {{'region.errorMessageIsMandatory'|translate}}
    </div>
    
  
    <span ng-repeat="error in formError.getErrors('subform/' + index + '/name')" class="help-block has-error">{{error|translate}}</span>
    <span ng-repeat="error in formError.getErrors('subform/' + index + '/sequence')" class="help-block has-error">{{error|translate}}</span>
    <span ng-repeat="error in formError.getErrors('subform/' + index + '/buttonLabel')" class="help-block has-error">{{error|translate}}</span>
    <span ng-repeat="error in formError.getErrors('subform/' + index + '/function')" class="help-block has-error">{{error|translate}}</span>
    <span ng-repeat="error in formError.getErrors('subform/' + index + '/successMessage')" class="help-block has-error">{{error|translate}}</span>
    <span ng-repeat="error in formError.getErrors('subform/' + index + '/errorMessage')" class="help-block has-error">{{error|translate}}</span>
  
  </ng-form>
  