<ng-form name="tabularSubFormForm">

  <div class="form-group">
    <div class="col-md-3" ng-class="{'has-error': formError.showErrors(subReportForm.name, 'subreport/' + index + '/name')}">
      <input required type="text" class="form-control" name="name" ng-model="tabularSubForm.name"
              placeholder="{{'region.name'|translate}} *">
    </div>
    <div class="col-md-3" ng-class="{'has-error': formError.showErrors(subReportForm.sequence, 'subreport/' + index + '/sequence')}">
      <input required type="number" min="0" class="form-control" name="sequence" ng-model="tabularSubForm.sequence"
              placeholder="{{'region.sequence'|translate}} *">
    </div>
    <div class="col-md-3"
          ng-class="{'has-error': formError.showErrors(tabularSubForm.paginationQueryParameter, 'subreport/' + index + '/paginationQueryParameter')}">
      <input required type="text" class="form-control" name="paginationQueryParameter"
              ng-model="tabularSubForm.paginationQueryParameter"
              placeholder="{{'region.paginationQueryParameter'|translate}} *">
    </div>
    <div class="col-md-3" ng-class="{'has-error': formError.showErrors(tabularSubFormForm.itemsPerPage, 'subreport/' + index + '/itemsPerPage')}">
      <input required type="number" class="form-control" name="itemsPerPage" ng-model="tabularSubForm.itemsPerPage"
              placeholder="{{'region.itemsPerPage'|translate}} *">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6" ng-class="{'has-error': formError.showErrors(tabularSubFormForm.view, 'subreport/' + index + '/view')}">
      <select name="view" ng-model="tabularSubForm.view" class="form-control" ng-change="changeViewColumns()"
              required
              ng-options="view as view.attributes.schema + '.' + view.attributes.name for view in viewsWithColumns track by trackView(view)">
        <option value="">-- {{'region.view'|translate}} * --</option>
      </select>
    </div>
    <div class="col-md-3" ng-class="{'has-error': formError.showErrors(tabularSubFormForm.includeLinkedPage
    , 'tabular-subform/' + $index + '/includeLinkedPage
    ')}">
      <label class="normal-label">
        <input ng-model="tabularSubForm.includeLinkedPage" name="includeLinkedPage" type="checkbox" title="{{'region.includeLinkedPage'|translate}}">
        <span>{{'region.includeLinkToPage'|translate}}</span>
      </label>
    </div>
  </div>

  <div ng-show="tabularSubForm.view.attributes.schema && tabularSubForm.view.attributes.name">
    <div class="row">
      <div class="col-xs-12">
        <h3>{{'region.linkedColumns'|translate}}</h3>
      </div>
    </div>
    <div class="form-group" ng-repeat="preFillColumn in preFillColumns | preFillColumnsWithValues">
      <div class="col-md-2">
        <label for="{{ 'linkedColumn' + $index + index }}" class="control-label">{{ preFillColumn.value }}</label>
      </div>
      <div class="col-md-6" ng-class="{'has-error': formError.showErrors(tabularSubForm.linkedColumn, 'tabular-subform/' + index + '/linkedColumn')}">
        <select id="{{ 'linkedColumn' + $index + index }}" name="{{ 'linkedColumn' + $index + index }}" ng-model="tabularSubForm.linkedColumns[preFillColumn.column.attributes.name]" class="form-control" ng-change="setLinkedColumns()" required
                ng-options="viewColumn.attributes.name as viewColumn.attributes.name for viewColumn in viewColumns">
        <option value="">-- {{'region.linkedColumn'|translate}} * --</option>
        </select>
      </div>
    </div>
    <div ng-show="tabularSubForm.includeLinkedPage
    ">
      <div class="row">
        <div class="col-xs-12">
          <h3>{{'region.setLinkedPage'|translate}}</h3>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': formError.showErrors(tabularSubFormForm.tabularSubformLinkedPageUniqueId, 'tabularSubformLinkedPageUniqueId')}">
        <div class="col-md-2">
          <label for="tabularSubformLinkedPageUniqueId" class="control-label">{{'region.uniqueId'|translate}} *</label>
        </div>
        <div class="col-md-6">
          <select id="tabularSubformLinkedPageUniqueId" name="tabularSubformLinkedPageUniqueId" ng-model="tabularSubForm.linkedPageUniqueId" class="form-control"
                  ng-required="tabularSubForm.includeLinkedPage"
                  ng-options="viewColumn.attributes.name as viewColumn.attributes.name for viewColumn in viewColumns">
          </select>
          <div ng-show="formError.showErrors(tabularSubFormForm.tabularSubformLinkedPageUniqueId, 'tabularSubformLinkedPageUniqueId')">
            <span ng-show="tabularSubFormForm.tabularSubformLinkedPageUniqueId.$error.required" class="help-block">{{'region.uniqueIdIsMandatory'|translate}}</span>
            <span ng-repeat="error in formError.getErrors('tabularSubformLinkedPageUniqueId')" class="help-block">{{error|translate}}</span>
          </div>
        </div>
      </div>
      <div class="form-group"
          ng-class="{'has-error': formError.showErrors(tabularSubFormForm.tabularSubFormLinkedPageId, 'tabularSubFormLinkedPageId')}">
        <div class="col-md-2">
          <label for="formPageId" class="control-label">{{'region.page'|translate}} *</label>
        </div>
        <div class="col-md-6">
          <select id="tabularSubFormLinkedPageId" name="tabularSubFormLinkedPageId" ng-model="tabularSubForm.linkedPageId" class="form-control"
                  ng-required="tabularSubForm.includeLinkedPage" ng-options="page.id as page.attributes.title + ' (id: ' + page.id + ')' for page in pages">
          </select>
          <div ng-show="formError.showErrors(tabularSubFormForm.linkedPageId, 'tanularSubFormLinkedPageId')">
            <span ng-show="tabularSubFormForm.tabularSubFormLinkedPageId.$error.required" class="help-block">{{'region.pageIsMandatory'|translate}}</span>
            <span ng-repeat="error in formError.getErrors('formPageId')"
                  class="help-block">{{error|translate}}</span>
          </div>
        </div>
      </div>
    </div>

    <add-tabular-sub-form-button title="region.buttons" attribute-title="region.addTabularFormButton"
                functions="functions" view-columns="viewColumns"
                buttons="tabularSubForm.buttons" button-templates="tabularFormButtonTemplates"
                form-error="formError" last-sequence="lastSequenceOfTabularFormButtons"></add-tabular-sub-form-button>
    <add-column-link title="region.columns" attribute-title="region.addTabularFormColumn" view-columns="viewColumns"
                      name="tabularFormColumns"
                      columns="tabularSubForm.formColumns" form-error="formError"
                      last-sequence="lastSequenceOfTabularFormColumns"></add-column-link>
  </div>
</ng-form>